@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background-default text-grayscale-90 w-screen overflow-x-hidden;
  }
}

.scrollable::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

.scrollable::-webkit-scrollbar-track {
  background: transparent; /* color of the tracking area */
}

.scrollable::-webkit-scrollbar-thumb {
  background-color: #5b5e6f; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid #f9f9f9; /* creates padding around scroll thumb */
}
